* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #5459AC;
}

.navbar-brand span {
    background-color: #5459AC;
    color: #B2D8CE;
}

main {
    flex: 1;
    background-color: #52357B;
}

main p {
    margin: 50px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    color: #648DB3;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #648DB3;
    font-weight: bold;
    margin-bottom: 100px;
}

.formButton {}

footer {
    background-color: #52357B;
    color: #B2D8CE;
}